.masthead {
  background-image: url(https://s3.amazonaws.com/tdh-des/Embrace.jpg) !important;
  background-size: cover !important;
  min-height: 800px;
}
.ui.menu {
  margin-top: 0em;
  margin-bottom: 0em;
}
.ui.grid {
  margin-top: 4rem;
}

.ui-white-header{
  color: white;
  text-align: right;
}

.ui.header{
  color: black;
}
.ui-white-link{
  color: white;
}
.footer-page {
margin-top: 2em;
padding: 2.0rem 1.5rem;
background: #F5F6F7;
color: purple;
font-size: 0.85em;
text-align: center;
}
.ui-p-container{
  margin-left: 150px;
  margin-right: 150px;
}

.profile-eight{
  height: 556px;
}

.ui- {
  margin-left: -10px;
  margin-right: 70px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1000px;
  max-height: 850px;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
}

.ui-- {
  position: relative;
  min-height: 1em;
  margin-left: -50px;
  margin-right: 0px;
  background: ;
  height: 540px;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  border-radius: 0.28571429rem;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  font-size: 1.25em;
}
.highlighted{
  background-color: yellow;
}
.ui-sides{
  width: 300px;
  margin-right: 0px;
}
.twentythree{
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.logo{
  height: 30px;
  text-align: right;
}
