.masthead {
  background-image: url(https://s3.amazonaws.com/tdh-des/images/Embrace.jpg) !important;
  background-size: 1676px 987px !important;
  background-repeat: no-repeat;
  height: 665px;
}

.ui.horizontal.segments {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  box-sizing: inherit;
  position: relative;
  padding: 0em;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);

  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}

.ui.four.column.grid{
  margin-top: 0px;
}

.ui.items > .item > .content > .header:not(.ui) {
  font-size: 18px;
}

.ui.items > .item .meta {
    margin-top: 0px;
    margin-bottom: 8.75px;
    font-size: 1em;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.6);
}

.ui.menu {
  margin-top: 0em;
  margin-bottom: 0em;
  min-height: 4.857143em;
}

.ui.grid {
  margin-top: 3rem;
}

.ui-white-header{
  color: white;
  text-align: right;
  font-size: 24px;
}

.size {
  font-size: 5rem;
  margin-bottom: 0px;

}

.size2 {
  margin-top: 0px;

}
.ui.header{
  color: black;
}

.ui-white-link{
  color: white;

}

a:hover{
  color: black;
}

.a-foot{
  color: teal;
}

.ui-p-container{
  margin-left: 180px;
  margin-right: 180px;
}

.profile-eight{
  height: 556px;
}

.about {
  text-align: center;
  padding-top: 1em;
}

.ui- {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1000px;
  max-height: 800px;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
}

.ui-- {
  position: relative;
  min-height: 1em;
  margin-top: 0px;
  margin-bottom: 20px;
  background: ;
  /*height: 540px;*/

  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  border-radius: 0.28571429rem;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  font-size: 1.25em;
}

.ui--- {
  position: relative;
  min-height: 1em;
  margin-top: 20px;
  margin-bottom: 25px;
  background: ;
  /*height: 540px;*/

  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  border-radius: 0.28571429rem;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  font-size: 1.25em;
}

.highlighted{
  background-color: yellow;
}

.ui-sides{
  width: 300px;
  margin-right: 0px;
}

.twentythree{
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.logo{
  height: 30px;
  text-align: right;
}

/* footer icon change  */
.ui.circular.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  border: none;
  vertical-align: baseline;
  background: #E0E1E2 none;
  color: #009688;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding-top: 0.785714em;
  padding-right: 0.785714em;
  padding-bottom: 0.785714em;
  padding-left: 0.785714em;
  border-radius: 10em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  user-select: none;
}

.ui-teal{
  color: #009688;
}

}
html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 142px;
}

.site-footer {
  margin-top: 4px;
  padding: 2.0rem 1.5rem;
  background: #F5F6F7;
  text-align: left;
  font-size: 0.85em;
}

p.test {
  width: 30em;
  word-wrap: break-word;
}
