.masthead {
  background-image: url(https://s3.amazonaws.com/tdh-des/Embrace.jpg) !important;
  background-size: cover !important;
  min-height: 800px;
}
.ui.menu {
  margin-top: 0em;
  margin-bottom: 0em;
}
.ui.grid {
  margin-top: 4rem;
}

.ui.header{
  color: black;
}
.ui-white-link{
  color: white;
}
.footer-page {
margin-top: 2em;
padding: 2.0rem 1.5rem;
background: #F5F6F7;
color: purple;
font-size: 0.85em;
text-align: center;
}
