beautifulsoup4
django==1.10.2
djangorestframework
django-haystack
gunicorn
dj-database-url
python-social-auth
requests
elasticsearch
psycopg2
whitenoise
django-widget-tweaks
easy-thumbnails
django-storages
