{% extends 'base.html' %}

{% block content %}
  {% if request.user.is_authenticated %}
    {% if object.user == request.user %}
  <div class="ui container">
    <div class="ui grid">
      <div class="ui sixteen wide column">
          <div class="ui teal raised segment">
              <form class="ui small form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="ui teal submit button" type="submit" name="" value="Update">
              </form>
          </div>
      </div>
    </div>
  </div>
    {% endif %}
  {% endif %}
{% endblock %}
