{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="ui-p-container">
    <div class="ui equal width grid">
      <div class="five wide column">
            <div class="ui card">
              <div class="image">
                <img src="{{object.profile_pic}}" alt="Profile Photo" />
              </div>
              <div class="content">
                <div class="header">{{object.first_name|capfirst}} {{object.last_name|capfirst}}</div>
                <div class="meta">
                  <a></a>
                </div>
                <div class="description">
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  {{object.get_year}}
                  <br>
                  {% if object.user == request.user %}

                  <a href="{% url 'messages_inbox' %}"><i class="large blue mail outline icon"></i></a>
                    {% load inbox %}
                    <a class="ui mini teal circular label">{% inbox_count %}</a>
                  {% endif %}
                </span>
                <span>
                  <i class="user icon"></i>
                  {{object.user.username}} <br>
                  {% if object.user == request.user %}
                  <a href="{% url 'profile_update_view' object.id %}"></i><i class="large blue edit icon"></i></a>
                  {% endif %}
                </span>
              </div>
            </div>
          </div>
        <div class="eleven wide column">
          <div class="ui-- raised very padded text container segment">
            <h2 class="ui left floated header"><i class="user icon"></i>About</h2>
              {% if object.user == request.user %}
            <h5 class="ui right floated header"><a href="{% url 'about_update_view' object.user.profile.id %}"><i class="extra large edit icon"></i></a></h5>
              {% else %}
            <h5 class="ui right floated header"><a class="ui teal button" href="{% url 'messages_compose' %}?recipient={{object.user.username}}">
              <i class="write icon"></i>Message {{object.user.username}}</a></h5>
              {% endif %}

            <br>
            &nbsp;
        <div class="ui divider"></div>
          <div class="ui four column grid">
        {% for thing in object.get_about %}
            <div class="column">
              <div class="ui items">
                <div class="item">
                  <div class="content">
                    <div class="header">Birthday</div>
                      <div class="meta">
                        <p>{{thing.birthdate}}</p>
                      </div>
                    <div class="header">Age</div>
                      <div class="meta">
                        <p>{{thing.birthdate|timesince}}</p>
                      </div>
                    <div class="header">Birth City</div>
                      <div class="meta">
                        <p>{{thing.city_of_birth|default:"n/a"}}</p>
                      </div>
                    <div class="header">Birth State</div>
                      <div class="meta">
                        <p>{{thing.state_of_birth|default:"n/a"}}</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="column">
                <div class="ui items">
                  <div class="item">
                    <div class="content">
                        <div class="header">Birth Country</div>
                          <div class="meta">
                            <p>{{thing.country_of_birth|default:"USA"}}</p>
                          </div>
                        <div class="header">Birth Hospital</div>
                          <div class="meta">
                            <p>{{thing.birth_hospital|default:"n/a"}}</p>
                          </div>
                        <div class="header">Birth Gender</div>
                          <div class="meta">
                            <p>{{thing.get_sex_at_birth_display|default:"n/a"}}</p>
                          </div>
                        <div class="header">Eye Color</div>
                          <div class="meta">
                            <p>{{thing.get_eye_color_display|default:"n/a"}}</p>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="ui items">
                  <div class="item">
                    <div class="content">
                        <div class="header">Mother's First Name</div>
                          <div class="meta">
                            <p>{{thing.mother_first_name|default:"n/a"}}</p>
                          </div>
                        <div class="header">Mother's Maiden Name</div>
                          <div class="meta">
                            <p>{{thing.mother_maiden_name|default:"n/a"}}</p>
                          </div>
                        <div class="header">Mother's Last Name</div>
                          <div class="meta">
                            <p>{{thing.mother_last_name|default:"n/a"}}</p>
                          </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="ui items">
                  <div class="item">
                    <div class="content">
                      <div class="header">Father's First Name</div>
                        <div class="meta">
                          <p>{{thing.father_first_name|default:"n/a"}}</p>
                        </div>
                      <div class="header">Father's Last Name</div>
                        <div class="meta">
                          <p>{{thing.father_last_name|default:"n/a"}}</p>
                        </div>
                      <div class="header">Searching For My:</div>
                      <div class="meta">
                        <p>{{thing.get_searching_for_display|default:"n/a"}}</p>
                      </div>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="sixteen wide column">
        <div class="ui--- raised text container segment">
            <h2 class="ui center aligned icon header">
              <i class="book icon"></i>Biography</h2>
            <div class="ui divider"></div>
              <p>
                {{thing.biography}}
              </p>
        </div>
      </div>


          {% endfor %}

  <div class="ui divider"></div>
  <!-- <a href="{% url 'image_all_view' %}">All images</a> -->
  {% if object.user == request.user %}
  <a class="ui blue right floated basic button" href="{% url 'image_add_view' %}"><i class="ui camera icon"></i>Upload Image</a>

  {% endif %}
    <div class="ui grid">
        {% for image in object.get_image %}
          <div class="four wide column">
            <div class="ui medium image">
            {% if object.user == request.user %}
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <h2 class="ui inverted header"></h2>
                  <div class="ui primary button">
                    <a class="ui-white-link" href="{% url 'image_update_view' image.id %}">Edit</a></div>
                  <div class="ui button">
                    <a href="{% url 'image_delete_view' image.id %}">Delete</a></div>
                </div>
              </div>
            </div>
            {% endif %}
            <img class="ui medium image" src="{{image.image_url}}" alt="">
          </div>

            {{image.description}}
          </div>
        {% endfor %}

    </div>
    <br>
<div class="ui divider"></div>
  <div class="ui grid">
    <div class="column">
      <div class="ui floating info message">
        <i class="close icon"></i>
        <div class="content">
          <div class="header">
            Import your 23andMe Relative Results!
          </div>
            <p>
              Connecting with 23andMe will import your top ten family relationship results, as listed in your 23andMe profile.
              This will allow other users to see DNA relational matches-which might help you connect!
            </p>
            <p>
              Imported information includes:
              First Name, Last Name, Relationship, Birth Year, DNA Similarity, Location, and Family Surnames.
            </p>
            <p>
              You only need to connect once to import all of your data, unless 23andMe updates your results.
            </p>
          </div>
          <div class="logo">
            <a class="item" href="{% url 'social:begin' 'twentythreeandme' %}">
            <img src="{% static 'images/23andme.png' %}" alt="sync with 23 and me"/></a>
          </div>
        </div>
    </div>

  </div>
  <div class="ui grid">
    <div class="column">
      {% if object.get_relative %}
      <h2 class="twentythree"> 23andMe Relative Results</h2>
      <div class="ui compact teal table">
          <table>
            <thead>
              <tr class="center aligned">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Relationship</th>
                <th>Birth Year</th>
                <th>DNA Similarity</th>
                <th>Location</th>
                <th>Family Surnames</th>
                </tr>
            </thead>
            <tbody class="center aligned">
              {% for thing in object.get_relative %}
                <tr>
                  <td>
                    {{thing.first_name|title}}
                  </td>
                  <td>
                    {{thing.last_name|title}}
                  </td>
                  <td>
                    {{thing.relationship}}
                  </td>
                  <td>
                    {{thing.birth_year}}
                  </td>
                  <td>
                    {{thing.similarity}}
                  </td>
                  <td>
                    {{thing.location|cut:"]"|cut:"["|cut:"'"}}
                  </td>
                  <td>
                    {{thing.family_surnames|cut:"]"|cut:"["|cut:"'"}}
                  </td>

                </tr>
              {% endfor %}
            </tbody>

          </table>
          {% endif %}
        </div>
    </div>
</div>


</div>
{% endif %}
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $('.ui.dropdown')
    .dropdown()
    ;

    $('.message .close')
    .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
      })
    ;
    $('.dimmer')
      .dimmer({
        on: 'hover'
      })
        ;

      $('.teal.button')
        .hover(function(){
          $(this)
          .transition('pulse');
        });

</script>

{% endblock %}

// $('.teal.button')
// .on('click', function(){
//   $(this)
//   .transition('pulse');
//
// })
