{% extends 'base.html' %}
{% load highlight %}
{% load staticfiles %}

{% block content %}
<div class="ui-p-container">
  <div class="ui grid">

    <div class="three wide column">
    <h2>Search</h2>
    <div class="ui small form">
    <form method="get" action=".">
      <div class="ui action input">
        <input id="id_q" name="q" type="search" value="{{ request.GET.q }}">
        <button class="ui icon button" type="submit">
          <i class="search icon"></i>
        </button>
      </div>
    </form>
    </div>
    </div>

    <div class="one wide column">
    </div>

    <div class="twelve wide column">
        {% if query %}
            <h2>We Found:</h2>
            {% for result in page.object_list %}
              {% if not result.object.user == request.user %}
            <div class="ui divided animated items list">
              <div class="item">
                <div class="image">
                  <img class="ui small image" src="{{ result.object.user.profile.picture.url }}" alt="Picture Not Found">
                </div>
                <div class="content">
                  <h2 class="ui header">{% highlight result.object.user.profile.first_name with request.GET.q %} {% highlight result.object.user.profile.last_name with request.GET.q %}
                  </h2>
                  <div class="ui accordion">
                    <div class="title">
                      <i class="big dropdown icon"></i>
                      About
                    </div>
                    <div class="content">
                      <p>Birthday: {% highlight result.object.user.about.birthdate with request.GET.q %}</p>
                      <p>Age: {{ result.object.user.about.birthdate|timesince }}</p>
                      <p>City of Birth: {% highlight result.object.user.about.city_of_birth with request.GET.q %}</p>
                      <p>State of Birth: {% highlight result.object.user.about.state_of_birth with request.GET.q %}</p>
                      <p>Hospital: {% highlight result.object.user.about.birth_hospital with request.GET.q %}</p>
                      <p class="transition hidden">{% highlight result.object.user.about.biography with request.GET.q %}</p>
                      <p></p>
                    </div>
                  </div>


                  <a href="{% url 'messages_compose' %}"><div class="ui primary button">Message</div></a>
                  <a href="{% url 'profile_detail_view' result.object.user.id %}"><div class="ui right floated button">View <i class="right chevron icon"></i></div></a>

                  </div>
                </div>
                <div class="ui hidden divider">

                </div>
              </div>


              {% endif %}
            {% empty %}
                <p>No results found. Try broadening your search.</p>

            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
          <h2>Seek & Find.</h2>
        {% endif %}
    </div>
    </div>
  </div>


{% endblock %}

{% block javascript %}

<script src="{% static 'components/accordion.js' %}"></script>
<script type="text/javascript">
  $('.ui.accordion')
    .accordion()
  ;
</script>

{% endblock %}


<div class="ui toggle checkbox floated right">
  <input id="id_models_0" type="checkbox" name="models" value="sherlock.about">
  <label for="id_models_0">About</label>
</div>
<div class="ui toggle checkbox">
  <input id="id_models_1" type="checkbox" name="models" value="sherlock.profile">
  <label for="id_models_1">Profiles</label>
</div>
