{% extends 'base.html' %}

{% block content %}
<div class="ui-p-container">
  <div class="ui grid">

    <div class="column">


    <h2>Search</h2>
    <div class="ui small form">
    <form method="get" action=".">

        <table>
            <tr>
              <td><input id="id_q" name="q" type="search" value=""></td>
            </tr>
            <tr>
              <td>
                <div class="ui slider checkbox">
                  <input id="id_models_0" type="checkbox" name="models" value="sherlock.about">
                  <label for="id_models_0">About</label>
                </div>
              </td>
            </tr>
            <tr>
              <td><div class="ui slider checkbox">
                <input id="id_models_1" type="checkbox" name="models" value="sherlock.profile">
                <label for="id_models_1">Profiles</label>
              </div>
            </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" class="ui inverted blue button" value="Search">
                </td>
            </tr>
        </table>
    </form>
    </div>
        {% if query %}

            <h3>Results</h3>

  <table class="ui celled padded table">
  <thead>
    <tr>
    <th>  </th>
    <th class="single line">Username</th>
    <th>Person</th>
    <th>Birthdate</th>
    <th>Location</th>
    <th class="single line">Searching For</th>
    <th>Search Result</th>
  </tr>
</thead>
  <tbody>
    {% for result in page.object_list %}
    <tr>
      <td>
        <img class="ui small image" src="{{ result.object.user.profile.picture.url }}" alt="Picture Not Found">
      </td>
      <td>
        <h2 class="single line"><a href="{% url 'profile_detail_view' result.object.user.id %}">{{ result.object.user }}</a></h2>
      </td>
      <td class="single line">
        {{ result.object.user.profile.first_name }} {{ result.object.user.profile.last_name }}
      </td>
      <td class="single line">
        {{ result.object.user.about.birthdate }}
      </td>
      <td>
        {{ result.object.user.about.city_of_birth }}
      </td>
      <td>
        {{ result.object.user.about.searching_for }}
      </td>
      <td>
        {% for item in result.object.user.all_about %}
          {{ item.object }}
          {% if request.GET.q in item %}
          {{ item }}
          {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% empty %}
          {{ suggestion }}
        <p>No results found.</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% else %}
  Search All or specify field of "Search In"
{% endif %}
  </tbody>
</table>

    </div>
  </div>
</div>
{% endblock %}
