{% extends 'base.html' %}
{% load highlight %}
{% block content %}
<div class="ui-p-container">
  <div class="ui grid">

    <div class="column">

    <div class="ui segment">
    <h2>Search</h2>
    <div class="ui small form">
    <form method="get" action=".">
      <div class="ui action input">
        <input id="id_q" name="q" type="search" value="">
        <button class="ui icon button" type="submit">
          <i class="search icon"></i>
        </button>
      </div>
    </form>
    </div>
    </div>
        {% if query %}
            <h3>Results</h3>

  <table class="ui celled padded table">
  <thead>
    <tr>
    <th>  </th>
    <th class="single line">Username</th>
    <th>Person</th>
    <th>Birthdate</th>
    <th>Location</th>
    <th class="single line">Searching For</th>
    <th>Search Result</th>
  </tr>
</thead>
  <tbody>
    {% for result in page.object_list %}
      {% if not result.object.user == request.user %}

    <tr>
      <td>
        <img class="ui small image" src="{{ result.object.user.profile.picture.url }}" alt="Picture Not Found">
      </td>
      <td>
        <h2 class="single line"><a href="{% url 'profile_detail_view' result.object.user.id %}">{{ result.object.user }}</a></h2>
      </td>
      <td class="single line">
        {{ result.object.user.profile.first_name }} {{ result.object.user.profile.last_name }}
      </td>
      <td class="single line">
        {{ result.object.user.about.birthdate }}
      </td>
      <td>
        {{ result.object.user.about.city_of_birth }}
      </td>
      <td>
        {{ result.object.user.about.searching_for }}
      </td>
      <td>
        {% highlight result.object.user.about.biography with request.GET.q %}

      </td>
    </tr>
      {% endif %}
    {% empty %}
          {{ suggestion }}
        <p>No results found.</p>

    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% else %}
  <h2>Perform a General Search</h2>
{% endif %}
  </tbody>
</table>

    </div>
  </div>
</div>
{% endblock %}


<div class="ui toggle checkbox floated right">
  <input id="id_models_0" type="checkbox" name="models" value="sherlock.about">
  <label for="id_models_0">About</label>
</div>
<div class="ui toggle checkbox">
  <input id="id_models_1" type="checkbox" name="models" value="sherlock.profile">
  <label for="id_models_1">Profiles</label>
</div>
