{% extends 'base.html' %}

{% block content %}
<div class="ui container">
  <div class="ui equal width grid">
    <div class="column">  </div>
      <div class="eight wide column">
        <form class="ui large form" action="" method="post">
          <div class="ui raised segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="username" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password">
              </div>
            </div>
            <div>
              <input class="ui fluid large teal submit button" type="submit" name="" value="Login">
            </div>
            {% csrf_token %}
          </div>
        </form>
      </div>
      <div class="column"></div>
  </div>
</div>
{% endblock %}
