{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="ui container">

    {% include "includes/inbox_base.html" %}

    <h1>{% trans "Deleted Messages" %}</h1>
    {% if message_list %}
    <table class="ui celled table">
        <thead>
            <tr class="center aligned"><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Date" %}</th><th>{% trans "Action" %}</th></tr>
        </thead>
        <tbody>
    {% for message in message_list %}
        <tr class="center aligned">
            <td>{{ message.sender }}</td>
            <td>
            {{ message.subject }}
            </td>
            <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
            <td><a href="{% url 'messages_undelete' message.id %}"><i class="red undo icon"></i></a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>{% trans "No messages." %}</p>
    {% endif %}
    <br />
    <p>{% trans "Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage." %}</p>
</div>
{% endblock %}
