{% extends 'base.html' %}

{% block content %}
  <div class="ui container">

    <div class="ui grid">

      <div class="four wide column">
        <div class="content">
          <img class="ui medium bordered image" src="/media/Danielleheadshot.jpg" alt="Danielle Image" />
          <p>
            Danielle Stanton
          </p>
          <img class="ui medium bordered image" src="/media/tommy.jpg" alt="Tommy Image" />
          <p>
            Tommy Huynh
          </p>
        </div>
      </div>
      <div class="six wide column">
        <div class="content">
          <h3>The Application:</h3>
          <p>
            Seekers is designed to bring adopted people together with their birth relatives. It is a project
            Danielle Stanton and Tommy Huynh as their final project for the Backend Engineering course at The Iron Yard in Greenville, SC.
          </p>
          <h3>The Feature Set:</h3>
          <p>
            Logged in users can:
            xyz
          </p>
        </div>
      </div>
      <div class="six wide column">
        <h3>The Roadmap:</h3>
        <p>
          blah blah blah
        </p>
        <h3>Technology Used:</h3>
        <p>
          Put list here...
        </p>

      </div>

    </div>
    </div>
  </div>



{% endblock %}
