{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="ui container">

    <div class="ui grid">

      <div class="four wide column">
        <div class="content">
          <img class="ui medium bordered image" src="{% static 'images/DanielleHeadshot.jpg' %}" alt="Danielle Image" />
          <p>
            Danielle Stanton
          </p>
          <img class="ui medium bordered image" src="{% static 'images/tommy.jpg' %}" alt="Tommy Image" />
          <p>
            Tommy Huynh
          </p>
        </div>
      </div>
      <div class="six wide column">
        <div class="content">
          <h3>The Application:</h3>
          <p>
            Seekers is designed to bring adopted people together with their birth relatives. It is a project
            Danielle Stanton and Tommy Huynh created to meet their final project requirements for the Backend Engineering course at The Iron Yard in Greenville, SC.
          </p>
          <h3>The Feature Set:</h3>
          <p>
            Logged in users can:
            <ol class="ui list">
              <li value="*">Update their profile information and set a custom photo</li>
              <li value="*">Fill out an "About Me" and "Biography" form
              <ol>
                <li value="-">This information is used and filtered through in the search</li>
              </ol></li>
              <li value="*">Upload photos to their profile page</li>
              <li value="*">Search the site for other users based on multiple criteria</li>
              <li value="*">Send other users private messages</li>
              <li value="*">Import 23andMe Relative information
              <ol>
                <li value="-">Imported results are stored on the user's profile page</li>
                <li value="-">This information can be helpful as people search a user's profile</li>
              </ol></li>
            </ol>
          </p>
        </div>
      </div>
      <div class="six wide column">
        <h3>The Roadmap:</h3>
        <p>
          blah blah blah
        </p>
        <h3>Technology Used:</h3>
        <p>
          Put list here...
        </p>

      </div>

    </div>
    </div>
  </div>



{% endblock %}
