{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sherlock</title>
    <link rel="stylesheet" href="{% static 'semantic.css' %}" media="screen" type="text/css">
    <link rel="stylesheet" href="{% static 'main.css' %}" media="screen" type="text/css">
  </head>
    <body>
      <div class="ui menu" >
          <div class="header item">
            GoFind
          </div>
          {% if not request.user.is_authenticated %}
          <a class="item" href="{% url 'index_view' %}"><i class="home icon"></i>Home</a>
          <a class="item" href="{% url 'user_create_view' %}">Create User</a>
          <a class="item" href="{% url 'login' %}">Login</a>
          {% else %}
          <div class="item">
            Welcome, {{request.user|title}}
          </div>
          <a class="item" href="{% url 'index_view' %}"><i class="home icon"></i>Home</a>
          <a class="item" href="{% url 'social:begin' 'twentythreeandme' %}">Connect with 23andme</a>
          {% load inbox %}
          <a class="item" href="{% url 'profile_detail_view' request.user.profile.id %}">Profile
             &nbsp;<i class="mail icon"></i>{% inbox_count %}
          </a>

          <a class="item" href="{% url 'logout' %}?next={% url 'index_view'%}">Logout</a>
          {% endif %}
          <div class="right menu">
            <div class="item">
              <div class="ui fluid search">
                  <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search people..">
                    <i class="search icon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% block content %}
      {% endblock %}

      <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
      <script src="{% static 'semantic.js' %}"></script>
      <script type="text/javascript">
      // fix menu when passed
    $('.masthead')
      .visibility({
        once: false,
        onBottomPassed: function() {
          $('.fixed.menu').transition('fade in');
        },
        onBottomPassedReverse: function() {
          $('.fixed.menu').transition('fade out');
        }
      })
    ;

      </script>
      {% block javascript %}
      {% endblock %}
    </body>
    <footer>
      <div class="ui footer-page">
        <div class="ui container">
            <div class="three wide column">
              <h4 class="ui header">About</h4>
              <a href="#">Contact Us</a><br>
              <a href="#">Tommy and Danielle</a>
              <p>
                <a href="https://github.com/tdhuynh/final_project">
                <button class="ui circular icon button">
    <i class="github icon"></i>
  </button></a>
              </p>

          </div>
        </div>
      </div>
    </footer>
</html>
