{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

  <div class="ui container">
    <div class="ui info message"><i class="close icon"></i>
        <div class="header">
          Thanks for checking out our site! </div>
          <p>
            We would love to hear from you --
          please shoot us a message with any feedback, concerns, or funny jokes (yes, dad jokes are encouraged!)
          </p>
    </div>
    <div class="ui teal raised form segment">
      <form class="" action="{% url 'send_email_view' %}" method="post">
        {% csrf_token %}
        <p>
          {{form.name|add_class:"field"|attr:"placeholder: John Doe"}}
        </p>
        <p>
          {{form.email|add_class:"field"|attr:"placeholder: you@email.com"}}
        </p>
        <p>
          {{form.message|add_class:"field"|attr:"placeholder: Tell us something!"}}
        </p>
        <button class="ui primary button" type="submit" name="">Send!</button>
      </form>
    </div>
  </div>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
      $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    })
    ;
</script>
{% endblock %}
