{% extends 'base.html' %}

{% block content %}
<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui grid">
      <div class="seven wide column"></div>
      <div class="eight wide column">
        <div class="ui-white-header">
          <h1>“Never give up on someone. Sometimes the answers you are looking for are the same answers another person is looking for. Two people searching together are always better than one person alone.” </h1>
          <h2> ― Shannon L. Alder</h2>
        </div>
      </div>
    </div>
</div>
<div class="ui horizontal segments">
      <div class="ui segment">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <h3>Welcome to our Site (we really need a name)!</h3>
              <div class="meta">
                <span>Our Mission</span>
              </div>
              <div class="description">
                <p class="test">We want to provide adopted people and their birth
                  family members a platform to find each other.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <div class="ui items">
          <div class="item">
            <div class="ui tiny circular image">
              <img src="/media/helen.png" alt=""/>
            </div>
            <div class="content">
              <h3>Helen C. Adams</h3>
              <div class="meta">
                <span>Greenville, SC</span>
              </div>
              <div class="description">
                <p class="test">
                  I recently starting looking for my birth family. I didn't have much information to use in my search, so finding this site gave me hope.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <h3>Tommy Likes Working with ElasticSearch</h3>
                <div class="meta">
                  <span>Content Here</span>
                </div>
                <div class="description">
                  <p class="test">
                    Ok, that's not really true. But he does like the challenge...somtimes.
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}
