{% extends 'base.html' %}

{% block content %}
<div class="pusher">
  {% if request.user.is_authenticated %}
    {% if object.user == request.user %}
    
      <form class="ui large form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}

        <div class="">
          <input class="ui fluid large teal submit button" type="submit" name="" value="Update">
        </div>
      </form>
    {% endif %}
  {% endif %}
</div>
{% endblock %}





<div class="field">
  <input type="file" name="picture" alt="Image_name">
</div>
<div class="field">
  <input type="text" name="first_name">
</div>
<div class="field">
  <input type="text" name="middle_name"
</div>
<div class="field">
  <input type="text" name="last_name">
</div>
<div class="field">
  <input type="text" name="gender">
</div>
